 html, body{
           margin : 0;
           min-height: 250px;
           padding: 0;
           width: 400px; 
           /* background-color: #84ED0C; */
}
/* .content{
    background-color: #84ED0C; ;
} */