body {
    font-size: 14px;
    color: rgb(55, 56, 52);
    background-color: bisque;
    font-family: 'Times New Roman';
}


/**header**/

#header-nav {
    background-color: rgb(172, 169, 142);
    border-radius: 0;
    border: 0;
    height: 80px;
}

#header-nav p {
    color: rgb(19, 28, 44);
    align-content: center;
    text-align: center;
    font-size: 45px;
}


/**webcam**/

#webcam {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 15px #333 solid;
}

#video {
    width: 400px;
    height: 375px;
    background-color: rgb(56, 185, 142);
}