body {
  text-align: center;
  background-color: #bdd2b6;
}

#heading{
  font-family: 'Roboto Slab', serif;
  color: #2b2e4a;
  font-size: 5rem;
  letter-spacing: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#level-title {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  margin:  5%;
  color: #184d47;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #bd2000;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
