
html { 
    background: url(./bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }

.heading {
    width: 70vw;
    border: 3px solid rgb(87, 83, 83);
    height: auto;
    margin: 40px auto;
    border-radius: 30px;
    font-size: 3.0rem;
    text-align: center;
    color: rgb(87, 83, 83);
}

.add_items {
    width: 500px;
    height: 45px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #023047;
    font-weight: 600;
    background: transparent;
    padding-left: 20px;
    margin: 10px auto;
    display: block;
    outline: none;
    border-bottom: 2px solid rgb(31, 73, 129);
    border-left: none;
    border-right: none;
    border-top: none;
    
}

#list {
   margin: 20px auto;
   width: 700px;
   padding: 5px;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.task {
    height: 40px;
    width: 400px;
    font-size: 1.2rem;
    margin: 5px;
    background-color:white;
    display: block;
    color: black;
    font-weight: 600;
    opacity: 0.6;
    border-radius: 10px;
    padding-left: 10px;
}

i {
    font-size: large;
    cursor: pointer;

}